<div class="nav">
    <div class="container d-flex jc-sb">
        <img class="glasslogo" src="/assets/images/logo-white.png" alt="glassLogo">
        <ul class="d-flex jc-sb ai-c">
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
        </ul>
    </div>
</div>